* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
}

body {
  margin: 0;
  background-color: #949494;
}

header {
  background: #4b4b4b;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

#results,
#calculator {
  margin: 2rem auto;
  width: 40rem;
  max-width: 90%;
  border: 1px solid rgb(223, 74, 47);
  border-radius: 10px;
  padding: 1rem;
  color: #313131;
}

#calculator:hover,
#results:hover{
  box-shadow: 0 5px 5px tomato;
}

#results {
  text-align: center;
}

#calculator input {
  font: inherit;
  font-size: 3rem;
  width: 10rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: tomato;
  text-align: center;
}

#calculator input:focus {
  outline: 2px solid tomato;
}

#calculator button {
  font: inherit;
  background: tomato;
  color: white;
  border: 1px solid tomato;
  padding: 1rem;
  cursor: pointer;
  border-radius: 15%;
}

#calculator button:focus {
  outline: none;
}

#calculator button:hover,
#calculator button:active {
  background: rgb(255, 57, 22);
  border-color: rgb(255, 57, 22);
}

#calc-actions button {
  width: 4rem;
}

#calc-actions {
  margin-top: 1rem;
  text-align: center;
}
